{{ form_start(form,{'attr':{'novalidate':'novalidate'}}) }}

{{ form_widget(form) }}
{{form_errors(form,{'attr':{'class':'text-danger'}})}}
<button class="btn btn-success custom-btn">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
