{% extends 'baseBack.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="col-12">
        <div class="card top-selling overflow-auto">


            <div class="card-body pb-0">
                <h5 class="card-title">List Agent </h5>

                <table class="table table-borderless">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Full name</th>
                        <th scope="col">email</th>
                        <th scope="col">ville</th>
                        <th scope="col">numero</th>
                        <th scope="col">Status</th>

                    </tr>
                    </thead>
                    {% for u in user %}
                        {% if u.roles == ["agent"] %}
                            <tbody>
                            <tr>
                                <th scope="row"><a href="#"><img style="max-width: 40px" src="{{ asset('/uploads/'~u.image) }}" alt=""></a></th>
                                <td><a href="#" class="text-primary fw-bold">{{u.nom}}-{{u.prenom}}</a></td>
                                <td>{{u.email}}</td>
                                <td class="fw-bold">{{u.ville}}</td>
                                <td>{{u.numtel}}</td>

                                <td><a href="{{path('adminAprove',{'idUser':u.idUser})}}" class="badge bg-success">Approve</a>
                                 <a href="{{path('delete',{'idUser':u.idUser})}}" class="badge bg-danger">Delete</a></td>

                            </tr>

                            </tbody>
                        {% endif %}
                    {% endfor %}
                </table>

            </div>

        </div>
    </div>
{% endblock %}