{% extends 'baseFront.html.twig' %}

{% block body %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

   <script>
 $(document).ready(function() {
  // variable pour stocker la catégorie sélectionnée
  var categorieSelectionnee = "*";

  $('#portfolio-flters li').click(function() {
    var categorie = $(this).data('filter');
    $('#portfolio-flters li').removeClass('filter-active');
    $(this).addClass('filter-active');
    if (categorie == "*") {
      $('.portfolio-container .portfolio-item').show();
    } else {
      $('.portfolio-container .portfolio-item').hide();
      $('.portfolio-container .portfolio-item' + categorie).show();
    }
    // mise à jour de la variable de catégorie sélectionnée
    categorieSelectionnee = categorie;
  });

  $('#tri-select').change(function() {
    var tri = $(this).val();
    var url = '{{ path('produits_tri', {'tri': '__TRI__'}) }}';
    url = url.replace('__TRI__', tri);

    $.ajax({
      url: url,
      method: 'GET',
      success: function(response) {
        if (response.success) {
         
          $('#produits-container').html(response.html);
          $('#tri-select').val(tri);

          // filtrer la liste de produits pour afficher uniquement les produits de la catégorie sélectionnée
          if (categorieSelectionnee != "*") {
            $('.portfolio-container .portfolio-item').hide();
            $('.portfolio-container .portfolio-item' + categorieSelectionnee).show();
          }
        } else {
          alert('Une erreur est survenue lors du tri des produits.');
        }
      },
      error: function() {
        alert('Une erreur est survenue lors du tri des produits.');
      }
    });
  });

  $('#myInput').on('keyup', function() {
    var value = $(this).val().toLowerCase();
    $('.portfolio-item').hide();
    $('.portfolio-item' + categorieSelectionnee).filter(function() {
      return $(this).find('h4').text().toLowerCase().indexOf(value) > -1;
    }).show();
  });
});


    </script>
<div id="produits-container">
    <div class="row">
        <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
                <li data-filter="*" class="filter-active">Tout</li>
                {% for categorie in categories %}
                    <li data-filter=".filter-{{ categorie.nomCategorie|replace({' ':'-'}) }}">{{ categorie.nomCategorie }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>


<div class="row">
    <div class="col-lg-4 text-center">
        <label style="color:#9a000a; font-weight: bold;" for="tri">Trier par :</label>
        <select name="tri" id="tri-select">
            <option value="#">-- Sélectionnez une option --</option>
            <option value="prix_asc">Prix croissant</option>
            <option value="prix_desc">Prix décroissant</option>
        </select>
        </div>
<div class="col-lg-4 text-center">
        <input id="myInput" class="form-control form-control-navbar" type="search" placeholder="Rechercher..." aria-label="rech">
        </br>
        </div>
    </div>
</div>

    <div  class="row portfolio-container">
        {% for produit in produits %}
            <div class="col-lg-4 col-md-6 portfolio-item filter-app filter-{{ produit.categorie.nomCategorie|replace({' ':'-'}) }}">
                <div class="portfolio-wrap">
                    <img src="{{ asset('images/' ~ produit.image) }}" class="img-fluid" style="width: 480px; height: 180px;">
                    <div class="portfolio-info">
                        <h4>{{ produit.libelle }}</h4>
                        <p>{{ produit.prixVente }} dt</p>
                        <div class="portfolio-links">
                            <a href="{{ asset('images/' ~ produit.image) }}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="{{ produit.libelle }}"><i class="bi bi-arrows-fullscreen"></i></a>
                            <a href="{{ path('produit_details', {'ref_produit': produit.ref_produit}) }}" class="portfolio-details-lightbox" data-glightbox="type: external" title="Produit Details"><i class="bx bx-list-ul"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    </div>
    
{% endblock %}
