{% extends 'baseBack.html.twig' %}
{% block title %}
	Livraison 
{% endblock %}
{% block body %}
	<h1>Livraison</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>IdLivraison</th>
				<td>{{ livraison.idLivraison }}</td>
			</tr>
			<tr>
				<th>Status Livraison</th>
				<td>{{ livraison.statusLivraison }}</td>
			</tr>

			<tr>
				<th>Date Livraison</th>
				<td>{{ livraison.dateLivraison ? livraison.dateLivraison|date('Y-m-d') : '' }}</td>
			</tr>
			<tr>
				<th>Nom de client</th>
				<td>{{ livraison.idCmd.idPanier.idUser.nom ~ ' ' ~ livraison.idCmd.idPanier.idUser.prenom }}</td>
			</tr>
			<tr>
				<th>Adresse Livraison</th>
				<td>{{ livraison.adresseLivraison }}</td>
			</tr>

			<tr>
				<th>numero telephone</th>
				<td>{{ livraison.idCmd.idPanier.idUser.numtel }}</td>
			</tr>
			<tr>
				<th>Adresse</th>
				<td>{{ livraison.idCmd.idPanier.idUser.email }}</td>
			</tr>
		</tbody>
	</table>

	<a href="{{ path('app_livraison_index') }}">Retour</a>

	<a href="{{ path('app_livraison_edit', {'idLivraison': livraison.idLivraison}) }}">Modifier</a>

	{{ include('livraison/_delete_form.html.twig') }}
{% endblock %}
