{% extends 'baseBack.html.twig' %}

{% block body %}
<link rel="stylesheet" href="{{ asset('Back/css/style.css') }}">
<div class="container">
<table class="table">
<a href="{{ path('app_reservation_new') }}" class="btn btn-success mb-3">Ajouter</a>


<thead>
<tr>
<th scope="col">Image</th>
<th scope="col">Date de la réservation</th>
<th scope="col">Nombre de personnes</th>
<th scope="col">Statut de la réservation</th>
<th scope="col">Actions</th>
</tr>
</thead>
<tbody>
{% for reservation in reservations %}
<tr>
<td><img src="{{ asset('uploads/' ~ reservation.idBonplan.getImageBonplan()) }}" class="img-thumbnail" width="150"></td>
<td>{{ reservation.dateReservation ? reservation.dateReservation|date('Y-m-d') : '' }}</td>
<td>{{ reservation.nombrePersonnes }}</td>
<td>{{ reservation.statutReservation }}</td>
<td>
<a href="{{ path('app_reservation_edit', {'idReservation': reservation.idReservation}) }}" class="btn btn-primary">Modifier</a>
<button class="btn btn-danger btn-delete" data-id="{{ reservation.idReservation }}">Supprimer</button>
<form id="form-delete-{{ reservation.idReservation }}" method="post" action="{{ path('app_reservation_delete', {'idReservation': reservation.idReservation}) }}" style="display: none;">
<input type="hidden" name="_method" value="DELETE">
<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reservation.idReservation) }}">
</form>
</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
<script>
	document.querySelectorAll('.btn-delete').forEach(function(button) {
		button.addEventListener('click', function(event) {
			event.preventDefault();
			var reservationId = this.getAttribute('data-id');
			if (confirm('Êtes-vous sûr(e) de vouloir supprimer cette réservation ?')) {
				var form = document.querySelector('#form-delete-' + reservationId);
				form.submit();
			}
		});
	});
</script>
{% endblock %}
