<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
	</head>
	<body>
		<p>Bonjour ,Cher(e)
			{{ nom }}</p>
		<p>Nous vous remercions d'avoir fait vos achats chez nous. Votre  livraison N:{{ idlivr }} a été expédié. Vous pouvez trouver ci-dessous les détails de votre commande :</p>
		<p>Numéro de commande : {{ idcmd }}  passé le : {{ datecmd }} </p>
        <p>Adresse de livraison :{{ adresse }}</p>
        <p>Votre total est :{{ total }} TND </p>
		<p>Merci de votre confiance en notre entre  prise. Nous espérons que vous apprécierez le nouveau produit autant que nous.</p>
		<p>Cordialement,</p>
		<p>ElBaldi</p>
	</body>
</html>
