
{% extends 'baseBack.html.twig' %}

{% block body %}
    <div class="container">

        <div class="row">
            <div class="col-12 mb-4 d-flex align-items-center">
                <i class="bi bi-file-plus" style="font-size: 30px; margin-right: 5px; "></i>
                
                <a href="{{ path('app_produit_new') }}" class="btn btn-success custom-btn">Ajouter un produit</a>
            </div>
        {% for produit in produits %}
            <div class="col-md-4 mb-4">
                <div class="card h-100 card-large rounded">

                    <div class="text-center">
                        {% if produit.image is not null %}
                            <img src="{{ asset('images/' ~ produit.image) }}" class="card-img-top img-fluid mx-auto" style="margin-top: 20px; width: 40%;">
                        {% else %}
                            <img src="{{ asset('images/placeholder.png') }}" class="card-img-top img-fluid mx-auto" style="margin-top: 20px; width: 40%;">
                        {% endif %}
                    </div>

                    <div class="card-body">
                        <h5 class="card-title">{{ produit.libelle }}</h5>
                        <p class="card-text">{{ produit.ref_produit }}</p>
                        <p class="card-text">{{ produit.description }}</p>
                        <p class="card-text">Prix de vente: {{ produit.prixVente }}</p>

                        <div class="d-flex justify-content-between">
                            <a href="{{ path('app_produit_edit', {'ref_produit': produit.ref_produit}) }}"  class="btn btn-success custom-btn">Modifier</a>
 <a href="{{ path('app_produit_delete', {'ref_produit': produit.ref_produit}) }}" class="btn btn-success custom-btn" id="delete-produit">
                                        Supprimer</a>

                               
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="col-md-12 mb-4">
                <p>Aucun produit trouvé.</p>
            </div>
        {% endfor %}
    </div>

    
</div>
{% endblock %}
