{% extends 'baseBack.html.twig' %}
<!DOCTYPE html>

<title>Produit index</title>

{% block body %}
    <h1>Produit index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Ref_produit</th>
                <th>Libelle</th>
                <th>Description</th>
                <th>Image</th>
                <th>Prix_vente</th>
                <th>Quantite</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td>{{ produit.refProduit }}</td>
                <td>{{ produit.libelle }}</td>
                <td>{{ produit.description }}</td>
                <td>{{ produit.image }}</td>
                <td>{{ produit.prixVente }}</td>
                <td>{{ produit.quantite }}</td>
                <td>
                    <a href="{{ path('app_produit_show', {'ref_produit': produit.ref_produit}) }}">show</a>
                    <a href="{{ path('app_produit_edit', {'ref_produit': produit.ref_produit}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_produit_new') }}">Create new</a>
{% endblock %}
