{{form_start(form,{'attr':{'novalidate':'novalidate'}})}}

<div class="form-commande">
	<br>
	<br>
	<br>
	<br>


	{{ form_label(form.nom) }}
	{{ form_widget(form.nom, {'attr': {'class': 'form-control', 'readonly': 'readonly'}, 'value': commande.idPanier.idUser.nom ~ ' ' ~ commande.idPanier.idUser.prenom}) }}
</div>
<div>
	{{ form_label(form.adresse) }}
	<br>
	{{form_errors(form.adresse)}}
	{{ form_widget(form.adresse, {'attr': {'class': 'form-control'}}) }}

</div>
<div class="form-commande">
	{{ form_label(form.numtel) }}
	{{ form_widget(form.numtel, {'attr': {'class': 'form-control', 'readonly': 'readonly'}, 'value': commande.idPanier.idUser.numtel}) }}
</div>

<div class="form-commande">
	{{ form_label(form.email) }}
	{{ form_widget(form.email, {'attr': {'class': 'form-control', 'readonly': 'readonly'}, 'value': commande.idPanier.idUser.email}) }}
</div>

<div class="form-commande">
	{{ form_label(form.total) }}
	{{ form_widget(form.total, {'attr': {'class': 'form-control', 'readonly': 'readonly'}, 'value': commande.idPanier.totalPanier}) }}
</div>
<div class="form-commande">
	{{ form_label(form.etat, null, {'label_attr': {'hidden': true}}) }}
	{{ form_widget(form.etat, {'attr': {'class': 'form-control', 'hidden': true}, 'value': commande.etat}) }}
</div>


<div class="form-commande">
	<button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
</div>
{{ form_end(form) }}
