{% extends 'baseFront.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/custom.css') }}">
   <link rel="stylesheet" href="{{ asset('/css/cards.css') }}">
   
{% endblock %}
{% block body %}
    <h1>Bonplan</h1> 
     <a href="{{ path('app_bonplan_indexFront') }}" class="btn btn-success mb-3">Retour</a>
    <table class="table">
        <tbody>
            <tr>
                <th>IdBonplan</th>
                <td>{{ bonplan.idBonplan }}</td>
            </tr>
            <tr>
                <th>TitreBonplan</th>
                <td>{{ bonplan.titreBonplan }}</td>
            </tr>
            <tr>
                <th>DescriptionBonplan</th>
                <td>{{ bonplan.descriptionBonplan }}</td>
            </tr>
            <tr>
                <th>TypeBonplan</th>
                <td>{{ bonplan.typeBonplan }}</td>
            </tr>
            <tr>
                <th>ImageBonplan</th>
                <td><img class="user_pic rounded img-raised" src="{{ asset('uploads/'~ bonplan.imageBonplan) }}" alt="{{ bonplan.titreBonplan }}" height="180" ></td>
            </tr>
        </tbody>
    </table>

  
    <a href="{{ path('app_reservation_new', {'idBonplan': bonplan.idBonplan}) }}" class="btn btn-primary">Reserver</a>
   
{% endblock %}