{% block body %}
    <h1>Bonplan</h1>
    <a href="{{ path('app_bonplanFront_show') }}">Retour</a>

    <table class="table">
    
        <tbody>
            <tr>
                <th>TitreBonplan</th>
                <td>{{ bonplan.titreBonplan }}</td>
            </tr>
            <tr>
                <th>DescriptionBonplan</th>
                <td>{{ bonplan.descriptionBonplan }}</td>
            </tr>
            <tr>
                <th>TypeBonplan</th>
                <td>{{ bonplan.typeBonplan }}</td>
            </tr>
            <tr>
                <th>ImageBonplan</th>
                <td><img class="user_pic rounded img-raised" src="{{ asset('uploads/'~ bonplan.imageBonplan) }}" alt="{{ bonplan.titreBonplan }}" height="180" ></td>
            </tr>
        </tbody>
    </table>

    

{% endblock %}