<!DOCTYPE html>

<title>CommandProduit</title>

{% block body %}
    <h1>CommandProduit</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ command_produit.id }}</td>
            </tr>
            <tr>
                <th>Ref_Produit</th>
                <td>{{ command_produit.ref_produit }}</td>
            </tr>
            <tr>
                <th>Date_cmd</th>
                <td>{{ command_produit.date_cmd ? command_produit.date_cmd|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_command_produit_index') }}">back to list</a>

    <a href="{{ path('app_command_produit_edit', {'id': command_produit.id}) }}">edit</a>

    {{ include('command_produit/_delete_form.html.twig') }}
{% endblock %}
