<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Nouveau produit ajouté à votre catégorie préférée !</title>
    </head>
    <body>
        <p>Bonjour ,Cher(e) {{ nom }} {{ prenom }}</p>
        <p>J'espère que vous allez bien. Je voulais vous informer que nous avons ajouté un nouveau produit à votre catégorie préférée "{{ produit.getCategorie().getnomCategorie() }}" :</p>
        <h2>{{ produit.getLibelle() }}</h2>
        <p>{{ produit.getDescription() }}</p>
        <p>Prix : {{ produit.getPrixVente() }} dt</p>
        <p>Nous avons sélectionné ce produit en pensant à vos besoins et à vos préférences. Nous pensons que cela pourrait être une excellente option pour vous.</p>
        <p>Merci de votre confiance en notre entreprise. Nous espérons que vous apprécierez le nouveau produit autant que nous.</p>
        <p>Cordialement,</p>
        <p>ElBaldi</p>
    </body>
</html>
